<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Qty</th>
      <th>First</th>
      <th>Last</th>
      <th>City</th>
      <th>Country</th>
      <th>Cardholder</th>
      <th>Card</th>
      <th>Expiry month</th>
      <th>Expiry year</th>
      <th>Cvv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.qty %></td>
        <td><%= order.first %></td>
        <td><%= order.last %></td>
        <td><%= order.city %></td>
        <td><%= order.country %></td>
        <td><%= order.cardholder %></td>
        <td><%= order.card %></td>
        <td><%= order.expiry_month %></td>
        <td><%= order.expiry_year %></td>
        <td><%= order.cvv %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
